<!DOCTYPE html>

<html>
    <head>
        <title>
            About page
        </title>
    </head>
    <body>
        {{>header}}
          {{title}}
          <hr>
        <h1>
            <p>
                
                This is About page.
            </p>
        </h1>
        {{>footer}}
    </body>
</html>