<!DOCTYPE html>

<html>
    <head>
        <title>
            help page
        </title>
    </head>
    <body>
        {{>header}}
        <hr>
        <h4>
            <p>
                {{ screamIt mssg }} <hr>
                This is Home page.
            </p>
        </h4>
    </body>
</html>